{
  "openapi": "3.0.1",
  "info": {
    "title": "Cookie 管理 API",
    "description": "用于设置、检查和清除 Cookie 的 API 接口",
    "version": "1.0.0"
  },
  "tags": [
    {
      "name": "Cookie 操作",
      "description": "Cookie 相关的各种操作"
    }
  ],
  "paths": {
    "/set-cookie": {
      "get": {
        "summary": "设置 Cookie",
        "operationId": "setCookie",
        "description": "设置特定的 Cookie 值",
        "tags": ["Cookie 操作"],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "数字参数",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 13,
              "enum": [11, 12, 13]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cookie 设置成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/": {
      "get": {
        "summary": "百度",
        "operationId": "setCookie",
        "description": "设置特定的 Cookie 值",
        "tags": ["Cookie 操作"],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "数字参数",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 13,
              "enum": [11, 12, 13]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cookie 设置成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/check-cookie": {
      "get": {
        "summary": "检查 Cookie",
        "operationId": "checkCookie",
        "description": "检查当前 Cookie 值",
        "tags": ["Cookie 操作"],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "数字参数",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 13,
              "enum": [11, 12, 13]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cookie 检查成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exists": {
                      "type": "boolean"
                    },
                    "value": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/clear-cookie": {
      "get": {
        "summary": "清除 Cookie",
        "operationId": "clearCookie",
        "description": "清除当前的 Cookie",
        "tags": ["Cookie 操作"],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "数字参数",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 13,
              "enum": [11, 12, 13]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cookie 清除成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "servers": [
    {
      "url": "https://benlifec.com",
      "description": "开发服务器"
    }
  ]
}